<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>People Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="selectedItem">
    <img src="{{selectedItem.picture.medium}}" />
    
    <ion-card-content>
      <ion-card-title>
        {{selectedItem.name.title}} {{selectedItem.name.first}} {{selectedItem.name.last}}
      </ion-card-title>

      <p>
        Email: {{selectedItem.email}}
        <br/>
        phone: {{selectedItem.phone}}
        <br/>
        Nationality: {{selectedItem.nat}}
        <br/>
        City: {{selectedItem.location.city}}
        <br/>
        State: {{selectedItem.location.state}}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
